#title{
    margin-top: 10px;
    position: absolute;
    left: 45%;
    align-content: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: black;
    max-width: 100%;
}

.header_bar{
    width: 100%;
    height: 120px;
    background: #ADD8E6;
}

#main_screen_logo {
    position: absolute;
    margin-left: .8%;
    margin-top: .8%;
}

#telugu_logo {
    height: 100%;
    width: 80%;
}

#menu_buttons {
    /* position: absolute;
    margin: 0px 10px 10px 1650px; */
    display: flex;
    max-width: 100%;
    height: 80px;
    white-space: nowrap;
}

#help_button {
    /* display:inline-block; */
    margin: 5px 5px 5px 0px;
    margin-left: auto;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#stat_button {
    /* display:inline-block; */
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#profile_button {
    /* display:inline-block; */
    margin: 5px 5px 5px 0px;
    /*margin-left: 150%;*/
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.img_button{
    display: block;
    width: 70px;
    height: 70px;
}

.dropbtn, .modalbtn {
    background-color: #ADD8E6;
    border-style: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a, p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

#stat_modal_title {
    width: 100%;
    height: 50px;
    text-align: center;
    /* padding-top: 30px; */
    font-size: 24px;
}

#stat_values {
    width: 100%;
    height: 80px;
    text-align: center;
}

#stat_labels {
    width: 100%;
    height: 80px;
    text-align: center;
}

.stat_value {
    display: inline-block;
    width: 100px;
    height: 45px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.stat_label {
    display: inline-block;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y:auto;
    flex-wrap: wrap;
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 20px;
}

.pf-modal-content {
    min-width: 160px;
}

.close {
    display: inline-block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.congratulation {
    width: 100%;
    height: 50px;
    text-align: center;
    /* padding-top: 20px; */
    font-size: 24px;
    font-weight: bold;
}

.screenshot-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#share_button {
    display: flex;
}

.btn-download {
    background-color: #037ec6; /* Green */
    border: #037ec6;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 50px;
}

.btn-download:hover{
    box-shadow: 0 5px 15px rgba(0, 255, 64, 0.4);
}

.btn-copy {
    background-color: white; /* Green */
    border: #037ec6;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: #037ec6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: auto;
}

.btn-copy:hover{
    box-shadow: 0 5px 15px rgba(0, 255, 64, 0.4);
}

#admin_access {
    display: none;
}

#admin_profile {
    position: absolute;
    top: 2.2%;
    left: 250px;
    margin: 0;
    padding: 0;
    display: flex;
}

#admin_button {
    list-style: none;
    width: 75px;
    height: 70px;
    background: #787c7e;
    border-radius: 40px;
}

#admin_button:hover {
    width: 225px;
}

#admin_name {
    display: inline-flex;
    position: absolute;
    top: 25px;
    left: 69px;
    text-decoration: none;
    visibility: hidden;
}

#admin_name {
    font-size: 17px;
    color: white;
}

#admin_button:hover #admin_name {
    visibility: visible;
}

@media screen and (max-width: 900px) and (min-width: 700px) {

    #title{
        margin-top: 10px;
        position: absolute;
        left: 45%;
        align-content: center;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 0px;
        text-align: center;
        color: black;
        max-width: 100%;
    }

    .header_bar {
        width: 100%;
        height: 100%;
    }

    #main_screen_logo {
        position: absolute;
        margin-left: 1.5%;
        margin-top: 2%;
    }

    #telugu_logo {
        height: 80%;
        width: 60%;
    }

    #admin_access {
        display: none;
    }

    #admin_profile {
        position: absolute;
        top: 1.8%;
        left: 190px;
        margin: 0;
        padding: 0;
        display: flex;
    }

    #admin_button {
        list-style: none;
        width: 60px;
        height: 55px;
        background: #787c7e;
        border-radius: 40px;
    }

    #admin_button:hover {
        width: 120px;
    }

    #admin_name {
        display: inline-flex;
        position: absolute;
        top: 16px;
        left: 58px;
        text-decoration: none;
        visibility: hidden;
    }

    #admin_name {
        font-size: 11px;
        color: white;
    }

    #admin_button:hover #admin_name {
        visibility: visible;
    }

    #admin_icon {
        height: 49px;
        width: 49px;
    }

    #menu_buttons {
        max-width: 100%;
        height: 80px;
    }

    #help_button {
        width: 50px;
        height: 50px;
    }

    #stat_button {
        width: 50px;
        height: 50px;
    }

    #profile_button {
        width: 50px;
        height: 50px;
    }

    .img_button{
        width: 50px;
        height: 50px;
    }

    .dropdown-content {
        min-width: 120px;
    }

    .dropdown-content a, p {
        font-size: 13px;
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }
}

@media (min-device-width:320px) and (max-device-width:768px) {
    #title{
        margin-top: .1%;
        position: absolute;
        left: 55%;
        align-content: center;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0px;
        text-align: center;
        color: black;
        max-width: 100%;
    }

    .header_bar {
        width: 121%;
        height: 4em;
    }

    #main_screen_logo {
        position: absolute;
        margin-left: 1.5%;
        margin-top: 2.8%;
    }

    #telugu_logo {
        height: 50%;
        width: 40%;
    }

    #admin_access {
        display: none;
    }

    #admin_profile {
        display: none;
    }

    #admin_button {
        display: none;
    }

    #admin_name {
        display: none;
    }

    #admin_name {
        display: none;
    }

    #admin_icon {
        display: none;
    }

    #menu_buttons {
        max-width: 100%;
        height: 80px;
    }

    #help_button {
        display: none;
    }

    #stat_button {
        display: none;
    }

    #profile_button {
        display: none;
    }

    .img_button{
        display: none;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-content a, p {
        display: none;
    }

    .menu_dropdown {
        position: absolute;
        top: 0;
        right: 2%;
    }

    .toggle_button{
        position: absolute;
        top: 1.3rem;
        right: -4.5rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle_button .bar {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10px;
    }

    .toggle_dropdown-content{
        display: none;
        position: absolute;
        top: 2.8rem;
        right: -5.5rem;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .toggle_dropdown-content a, p {
        font-size: 13px;
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }

    /*.toggle_dropdown-content a:hover{*/
    /*    background-color: white;*/
    /*}*/

    .menu_dropdown:hover .toggle_dropdown-content{
        display: block;
    }

    /*.menu_dropdown:hover .toggle_button{*/
    /*    background-color: white;*/
    /*}*/
}